p{
    position: relative;
    left: -400px;
    color: rgb(100, 94, 112);}

body{
    display: flex;
    align-items: center;
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font: bolder;}

.container{
    
    border-radius:3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: rgb(100, 94, 112);
    width:90vh;
    height: 50px;}

.ball{
    background-color: rgb(74, 70, 83);
    height:15px;
    width:15px;
    margin: 3px;
    border-radius: 50%;}

:root{height:100vh; width:100%}

.main{
    display: flex;
    background-color:white;
    width:90vh;
    height:30vh;
    border-radius:3px
}

div{
    display:flex;
    align-items:center; 
}

.ball:hover{
    background-color:rgb(82, 252, 133);
}
button{
    background:linear-gradient(black, white,red);
    font-size: 20px;
    margin:20px;
    position: relative;
    left:25vh;
    top: 5vh;
    display:flex;
    align-items:center;
    height:60px;
    width:120px;
    transition: background;
}

button:hover{
    background:linear-gradient(10deg,rgb(0, 0, 0), white,red);
}